.dot-visualizer-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    position: relative;
}

.legend {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-text);
    margin-bottom: 4px;
    text-align: right;
    z-index: 5;
}

.dot-canvas {
    display: block;
    width: 100%;
    height: 100%;
    /* Canvas size is set by attributes, CSS size scales it fittingly */
}